@charset "UTF-8";
body {
    background-color: aliceblue;

}
h1{
    color: blue;
}

h1#principal{
    text-align: center;
    background-color: aquamarine;
}
.basico{
    color: blueviolet;

}
.intermediario{
    color:cornflowerblue
}
.avancado{
    color: blue;
}
h2 {
    color: crimson;
}